
<% @reflex_variables = { reflex_pages: @reflex_pages, responses: @responses, radioed: @radioed } %>



<div class="row mt-2">
    <div class="col-12">
        <%= image_tag("smiscoWebSign.png", class: 'rounded-top shadow-lg', style: 'width: 100%;') %>
    </div>
</div>

<div class="row mb-2">
    <div class="col-12">
        <div class="d-flex justify-content-between rounded-bottom border border-primary marquee bg-primary text-light">
            <% ms = '' %>
            <% @manufacturers.each do |m| %>
                <% if ms != '' %>
                    <% ms = "#{ms} - #{m}" %>
                <% else %>
                    <% ms = "#{m}" %>
                <% end %>
            <% end %>
            <%= content_tag(:p, "#{ms.upcase} - #{ms.upcase} - #{ms.upcase} - #{ms.upcase} - #{ms.upcase} - #{ms.upcase}", class: 'font-weight-bold mb-0', style: 'font-size: 1.1rem;') %>
        </div>
    </div>
</div>


<% if @reflex_pages['HOME'] %>
    <%= render 'shared/home' %>
<% elsif @reflex_pages['SURVEY'] %>
    <%= render 'shared/survey' %>
<% end %>

<div style="height: 30px;">
</div>

<footer class="bg-dark" style="position: fixed; bottom: 0px; left: 0px; width: 100vw;">
    <div class="container-fluid d-flex justify-content-end">
        <span class="text-muted">
            &#169; <%= Time.now.strftime('%Y') %> <strong class="f-racing">SMISCO</strong>&trade; | All Rights Reserved
        </span>
    </div>
</footer>