<!DOCTYPE html>
<html>
  <head>
    <title>smisco | <%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <%# notice bar - container-fluid %>
    <div id="flash" class="container-fluid d-flex justify-content-center">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: 'flash-content' %>
      <% end %>
    </div><%# notice bar - container-fluid %>
    <%# yield-container - container-lg (responsive) %>
    <div id="yield-container" class="container-lg">
      <%= yield %>
    </div><%# yield-container - container-lg (responsive) %>
  </body>
</html>
